@media screen and (max-width: 1400px) {
    #profile {
      height: 83vh;
      margin-bottom: 6rem;
    }
    .about-containers {
      flex-wrap: wrap;
    }
    #contact,
    #projects {
      height: fit-content;
    }

    .image-section{
      background-color: white;
    }
  }
  
  @media screen and (max-width: 1200px) {
    #desktop-nav {
      display: none;
    }
    #hamburger-nav {
      display: flex;
    }
    #experience,
    .experience-details-container {
      margin-top: 2rem;
    }
    #profile,
    .section-container {
      display: block;
    }
    .arrow {
      display: none;
    }
    section,
    .section-container {
      height: fit-content;
    }
    section {
      margin: 180px 5%;
    }
    .section__pic-container {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }
    .about-containers {
      margin-top: 0;
    }
  }
  
  @media screen and (max-width: 600px) {
    #contact,
    footer {
      height: 10vh;
      width: 90%;
      margin: auto;
      /* margin-top: 0; */
    }
    #hamburger-nav{
      display: flex;
      /* background-color: brown; */
      width: 100%;
      height: 3rem;
      margin-top: 0.6rem;
    }
    #profile {
      /* height: 83vh; */
      margin-top: 0;
      margin-bottom: 0;
    }
    #about{
      margin-top: 0;
      margin-bottom: 0;
    }
    #skills{
      margin-top: 5rem;
      margin-bottom: 0;
    }
    #projects{
      margin-top: 0;
      margin-bottom: 5rem;
    }
    #cont-details{
      margin-top: 0;
      margin-bottom: 0;
    }
    article {
      font-size: 1rem;
    }
    footer nav {
      height: fit-content;
      margin-bottom: 0rem;
    }
    .about-containers,
    .contact-info-upper-container,
    .btn-container {
      flex-wrap: wrap;
    }
    .contact-info-container {
      margin: 0;
    }
    .image-section{
      width: 18rem;
    }
    .contact-info-container p,
    .nav-links li a {
      font-size: 1rem;
    }
    .experience-sub-title {
      font-size: 1.25rem;
    }
    .logo {
      font-size: 1.5rem;
    }
    .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }
    .section__pic-container {
      margin-top: 1rem;
      width: auto;
      height: 46vw;
      justify-content: center;
    }
    .section__text__p2 {
      font-size: 1.25rem;
    }
    .title {
      font-size: 2rem;
    }
    .text-container {
      /* text-align: justify;
      width: 21rem;
      height: 13.5rem; */

      width: 100%;
      max-width: 100%;
      height: auto;
    }
    .paragraph-text{
      /* width: 20.2rem;
      height: 12rem; */

      width: 100%;
      height: auto;
      margin: 0 auto;
    }
    .section__text__p1{
      font-size: 1.8rem;
      text-align: center;
    }
    .text-container p{
      font-size: 1rem;
    }

    .contact-details {
      display: flex;
      flex-direction: column;
      height: 700px;
      width: 95%;
      margin: auto;
      /* margin-top: 50rem; */
      /* background-color: rgb(211, 48, 48); */
    }

  .contact-me{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-left: 0.7rem;
  }
  .contact-me p5{
    font-size: 1.2rem;
  }

  .contact-me h2{
    font-size: 2.2rem;
    color: rgb(186, 18, 51);
  }
  .message{
    width: 93.2%;
    height: 68vh;
    margin-top: 0;
    margin-left: 0.7rem;
    margin-top: 1rem;
    /* background-color: aqua; */
    border-radius: 0.2rem;
    border: 1px solid grey;
  }
  .send-msg{
    height: 58vh;
    width: 91%;
    margin-top: 1rem;
    margin-left: 1rem;
    /* background-color: blue; */
    /* margin: 0; */
  }
  .send-msg h3{
    font-size: 1.4rem;
    color: #141E46;
  }
  #fname, #email, #subject{
    font-size: 0.9rem;
    margin-top: 0;
    padding: 0.3rem 0;
    width: 100%;
  }
  .send-msg label{
    font-size: 0.95rem;
  }

  .send-msg textarea{
    width: 96%;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }

  .send-msg button{
    margin-top: 1.5rem;
    width: 5rem;
    height: 2rem;
    font-size: 0.9rem;
    border-radius: 0.2rem;
    background-color: #7752FE;
  }
  .image-section h2{
    font-size: 1.2rem;
  }
  .profile-pic{
    width: 2.1rem;
    height: 2.1rem;
    margin-left: 1rem;
    margin-top: 0;
  }

  .hamburger-icon{
    width: 1.3rem;
    height: 1rem;
    margin-left: 0.8rem;
  }
  .menu-links a{
    font-size: 1rem;
    margin-top: 0;
    row-gap: 0;
  }
  .nav-links-footer a{
    font-size: 1rem;
    /* gap: 0rem; */
  }
  footer p{
    font-size: 0.8rem;
  }

  footer .nav-links-footer{
    font-size: 1rem;
    gap: 1.2rem;
  }

  #submit-button{
    height: 1.6rem;
    width: 5rem;
    border: none;
    margin-top: 1.1rem;
    font-size: 0.8rem;
  }

  .nav-links-container-bottom{
    display: flex;
    justify-content: center;
  }

  .copy-right{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
  }
  /* .skills-details-container{
    display: flex;
  }
  .article-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  } */

  .project-btn{
    background-color: #7752FE;
    color: white;
    font-size: 1rem;
  }
}
