@media (max-width:768px) {
    #skills{
        width: 100%;
        height: auto;
        padding: 25px 15px;
    }

    #skills-card{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        padding: 0;
        /* background-color: aquamarine; */
    }

    #expertise p{
        /* background-color: aquamarine; */
        font-size: 18px;
    }
    #hide{
        display: none;
    }
}