@media (max-width:768px) {
    #skills{
        width: 100%;
        height: auto;
        padding: 25px 15px;
    }

    #skills-card{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        padding: 0;
    }

    #expertise p{
        font-size: 18px;
    }
    #hide{
        display: none;
    }
}

@media (max-width:430px) {
    #expertise p{
        font-size: 18px;
    }
}
@media (max-width:360px) {
    #expertise p{
        font-size: 18px;
    }
}