@media (max-width: 768px) {
  #contact{
    width: 100%;
    height: auto;
    padding: 25px 15px;
    margin: 0;
  }
  #contact-card{
    display: flex;
    flex-direction: column-reverse;
    gap: 0;
  }
  #geo-card{
    width: 100%;
    background-color: aqua;
    height: 45vh;
    margin: 0;
  }
  #form-card{
    width: 100%;
    /* background-color: blueviolet; */
    height: auto;
    padding: 2px;
    padding-bottom: 25px;
  }
  textarea{
    height: 20vh;
  }
}