@media (max-width: 768px) {
  #navbar {
    flex-direction: column;
    padding: 15px 16px;
    width: 100%;
    height: auto;
  }
  #nav-links {
    display: none;
  }
  #social-links {
    display: none;
  }
  #humburger {
    display: block;
  }
}
