@media (max-width:768px) {
    #footer{
        width: 100%;
        height: auto;
        padding: 15px;
    }
    #footer-cards{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    #list-items{
        display: none;
        gap: 15px;
    }
    #links{
        gap:12px
    }
}